<section id="services_signin" class="services">
	<h1>Login</h1>

	<p>
        Você pode usar umas das suas contas existentes no Facebook, Google, Yahoo, MyOpenID e outros provedores OpenID . Selecione o provedor que gostaria de utilizar:
	</p>

	<div>
		<%= render "services_list" %>
	</div>
	
	<p class="clear">
	    Não possui nenhum provedor OpenID? Cadastre-se no
        <%= link_to "MyOpenID", "http://www.myopenid.com/" %>
        ou no
        <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %>
        já!
        <br />
        Se você quer aprender mais a respeito do OpenID ou localizar outros provedores, visite
        <%= link_to "openid.net", "http://openid.net" %>.
	</p>
</section>